.shirtItemWrapper {
  max-height: 350px;
  max-width: 350px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid steelblue;
}

.deleteBtn {
  margin: 10px;
}
