.shirtItemWrapper {
  max-height: 350px;
  max-width: 350px;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid steelblue;
}

.shirtBtn {
  margin: 5px;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}
