.shirtItemWrapper {
  max-height: 200px;
  max-width: 200px;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid steelblue;
}

.deleteBtn {
  margin: 5px;
}
