html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div, button {
  border: 1px solid black;
}

/* This is containing along with the .main-column within the .container-fluid */
nav {
  height: 10%;
}

.container-fluid {
  height: 100%;
}

/* This is containing along with the nav within the .container-fluid */
.main-column {
  height: 80%;
}

/* This solves the overflow on the horizontal plane */
.row {
  margin: 0;
}

#root {
  height: 100%;
}