body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  border: 10px solid green;
  background-color: lightblue;
  padding: 4px;
  bottom: 0px;
}

button,
table,
th,
tfoot,
tr,
td {
  border: 1px solid black;
}

table {
  width: 100%;
}

.container-fluid {
  margin: 0;
}

.row {
  border: 1px solid yellow;
  background-color: lightgray;
  padding: 8px;
}
.cell {
  border: 1px solid black;
  background-color: lightgoldenrodyellow;
}

.myshirt {
  align-content: center;
}

#root {
  height: 100%;
}
