html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

div, button {
  border: 1px solid black;
}

/* This is containing along with the .main-column within the .container-fluid */
/* nav {
  height: 10%;
} */

/* This helps to solve our container problems */
/* .col-md-3 {
  display: flex;
} */
.container-fluid {
  height: 100%;
  margin: 0;
  /* Testing to see if this solves our problem of height, but nothing yet. Definitely a better application */
  /* padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto; */
}

/* This is containing along with the nav within the .container-fluid */
.main-column {
  height: 90%;
}

/* This solves the overflow on the horizontal plane */
.row {
  margin: 0;
}

.content-row {
  height: 15%;
}

.shirt-row {
  height: 85%;
}

#root {
  height: 100%;
}